<section id="main-content">
    <section id="errors" class="wrapper">
        <!-- page start -->

        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="projects.html"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="project-dashboard.html">텔레톡비-v2</a></li>
                    <li><a href="setting-general.html">Settings</a></li>
                    <li class="active">Viewer</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <!-- Error Information -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Viewer Setting
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal bucket-form" method="post">
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            <img src="images/avatar1_small.jpg" alt="" style="border-radius:4px;display:inline">&nbsp;
                                            John Doe&nbsp;
                                            <span class="label label-success">Manager</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            <img src="images/avatar1_small.jpg" alt="" style="border-radius:4px;display:inline">&nbsp;
                                            John Doe&nbsp;
                                        </div>
                                        <div class="col-sm-3" style="text-align:right">
                                            <button type="button" class="btn btn-default btn-sm">Set as manager</button>
                                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            <img src="images/avatar1_small.jpg" alt="" style="border-radius:4px;display:inline">&nbsp;
                                            John Doe&nbsp;
                                        </div>
                                        <div class="col-sm-3" style="text-align:right">
                                            <button type="button" class="btn btn-default btn-sm">Set as manager</button>
                                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            <div class="input-group">
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button">Add viewer</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>